# Ignore build directories
**/debug/
**/release/

# Ignore object and dependency files
*.o
*.d

# Ignore Visual Studio project user-specific files
*.user
*.suo
*.VC.db
*.VC.opendb

# Ignore generated build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Ignore project-specific temp files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore binaries or executable test files
*.exe
*.out
*.app
*.bin

# Ignore specific test artifacts
/Test/TestGaussianCVQKDSource/testgaussiancvqkdsource.d
/Test/TestGaussianCVQKDSource/testgaussiancvqkdsource.o

